<html>
<head>
	<title>Food & Drink</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/food.css')}}">
	<style>
		/*#A {
			background-image: url(blank.png);
			background-repeat: no-repeat;
			background-position: top;
			background-size: 1230pt 650px;
			height: 270pt;
			
		}
		#B {
			background-color: rgb(51,189,179);
			height: 250pt;
			margin-left: 150pt;
			margin-right: 150pt;
			
		}
		#C{
			background-color: rgb(204,0,16);
			height: 250pt;
			margin-left: 150pt;
			margin-right: 150pt;

		}*/
		h4{
			color: white;
	font-family: "Bradley Hand";
	font-size: 18pt;
		}
	</style>
</head>
<body>
<section id="A">
<nav>
	
<ul>
		<li><a href="{{ url_for('mumbai') }}">Home</a></li>
		<li><a href='#'>Things To Do</a>
		<ul>

				<li><a href="{{ url_for('food') }}">Food & Drink</a></li>
				<li><a href="{{ url_for('picnic') }}">Picnic</a></li>
				<li><a href="{{ url_for('shopping') }}">Shopping</a></li>
				
</ul>
</li>
		<li><a href='#'>Destination</a>
			<ul>
				<li><a href="{{ url_for('colaba') }}">Colaba</a></li>
        <li><a href="{{ url_for('navi') }}">Navi Mumbai</a></li>
        <li><a href="{{ url_for('bandra') }}">Bandra</a></li>
        <li><a href="{{ url_for('thane') }}">Thane</a></li>
        <li><a href="{{ url_for('powai') }}">Powai</a></li>
			</ul>
		</li>
		<li><a href='#'>About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<ul>
				<li><a href="{{ url_for('about_mumbai') }}">About Mumbai</a></li>
				<li><a href="{{ url_for('history') }}">History</a></li>
			</ul>
		</li>
	</ul>
</nav>


<h1 class="class3"><center>Food and Drinks</center></h1>
<h2 align="center">Mumbai is a cosmopolitan city known for its many lip-smacking dishes</h2>

</section>
<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/samosa.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Chola Samosa @ Guru Kripa, Sion</h3>
		
<h4>This dish is basically samosa served with a gravy of chickpea. One of the oldest restaurants in Mumbai, it serves a variety of dishes. It has everything from North Indian food to South Indian food and even Chinese food. It is very famous for Lassi and Chaas. If you visit the place, don't forget to try out the sweets. A must try for those who want to try out new dishes in Mumbai.</h4>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/vadapav.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Vada Pav @ Ashok Vada Pav, Dadar</h3>
		
<h4>A tiny stall near Kirti College that's always crowded, Ashok Vada Pav Stall at Dadar West serves one of the best vada pavs in Mumbai. The genuine authenticity in the preparation & taste of the vada pav they serve hot & fresh. Plus, it's additionally filled with fried fritters known as chura. At ₹25 per vada pav, it's the worth every penny. It is also known for being Sachin Tendulkar's favourite vada pav.</h4>
	</div>
</div>
</div>
</section>
<br>


<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/falooda.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Falooda @ Baba Falooda, Mahim</h3>
		
<h4>Almost everyone who goes to try out Mahim’s street food delicacies finishes up their meals with a glass of falooda at Baba Falooda. It’s difficult to finish it up though, it’s really heavy! Their Royal Malai Kulfi is especially popular — it combines the creaminess of kulfi with the velvety texture of faloodas. Baba Falooda’s fame hasn’t touched its prices though, they are quite affordable for the kind of quality they offer. </h4>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/pavbhaji.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Pav Bhaji @ Sardar, Tardeo</h3>
		
<h4>Melt in the mouth pav and bhaji that is steamy, spicy and tangy. The journey of this eatery goes back 53 years, when its founder, Sardar Ahmed, started selling snacks in Tardeo to mill workers who returned from tiring shifts. Sardar is featured in Zomato’s Legendary and perfect pav bhaji collections, and take our word for it, this pav bhaji is dressed to impress.</h4>
	</div>
</div>
</div>
</section>
<br>


<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/prithvi.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Amritsari Kulcha @ Prithvi Cafe</h3>
		
<h4>In Mumbai if you are looking for kind of alternative food which is not spicy, you are in the right places! Perfect combination of cinema, cafe, restaurant and books shop, And the best part is that it all comes in your budget. Great pizza, hummus and lovely mango lassie are the top selling items here. On the other hand it's always full of families and college students.</h4>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/dosa.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Mysore Sada Dosa @ Dakshinayan</h3>
		
<h4>This dimly-lit restaurant has an extensive menu that specialises in vegetarian Tamil fare. Known for its dosas, Dakshinayan is a popular pick with those who want to sample authentic south Indian food in Mumbai. Once here, you must try the soft idlis, adai dosai, appams, medu vada along with the famous tomato-garlic chutney, molagapodi (gunpowder) and rasam. Be prepared for a long wait as the eatery is teeming with regulars.</h4>
	</div>
</div>
</div>
</section>
<br>
</body>
