<html>
<head>
	<title>Picnic</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/food.css')}}">
	<style>
		/*#A {
			background-image: url(blank.png);
			background-repeat: no-repeat;
			background-position: top;
			background-size: 1230pt 650px;
			height: 270pt;
			
		}
		#B {
			background-color: rgb(51,189,179);
			height: 250pt;
			margin-left: 150pt;
			margin-right: 150pt;
			
		}
		#C{
			background-color: rgb(204,0,16);
			height: 250pt;
			margin-left: 150pt;
			margin-right: 150pt;

		}*/
		h4{
			color: white;
	font-family: "Bradley Hand";
	font-size: 18pt;
		}
	</style>
</head>
<body>
<section id="A">
<nav>
	
<ul>
		<li><a href="{{ url_for('mumbai') }}">Home</a></li>
		<li><a href='#'>Things To Do</a>
		<ul>

				<li><a href="{{ url_for('food') }}">Food & Drink</a></li>
				<li><a href="{{ url_for('picnic') }}">Picnic</a></li>
				<li><a href="{{ url_for('shopping') }}">Shopping</a></li>
				
</ul>
</li>
		<li><a href='#'>Destination</a>
			<ul>
				<li><a href="{{ url_for('colaba') }}">Colaba</a></li>
        <li><a href="{{ url_for('navi') }}">Navi Mumbai</a></li>
        <li><a href="{{ url_for('bandra') }}">Bandra</a></li>
        <li><a href="{{ url_for('thane') }}">Thane</a></li>
        <li><a href="{{ url_for('powai') }}">Powai</a></li>
			</ul>
		</li>
		<li><a href='#'>About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<ul>
				<li><a href="{{ url_for('about_mumbai') }}">About Mumbai</a></li>
				<li><a href="{{ url_for('history') }}">History</a></li>
			</ul>
		</li>
	</ul>
</nav>


<h1 class="class3"><center>Picnic</center></h1>
<h2 align="center">The unending liveliness of Mumbai, it's erstwhile appellation, has made it a perfect destination for holidays and picnics.</h2>

</section>
<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/essel.jpeg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Essel World, Borivali</h3>
		
<h5>Essel World is one of the most popular and oldest amusement parks in Mumbai. Built and designed as per international standards in terms of facilities, maintenance and attractions – this delightful park has been enticing people from all over the nation since 1986. Sprawling across a lavish area of around 64 acres, this amusement park draws as many as 1 million visitors annually. Most of the tourists visiting Mumbai for the first time always make sure to include this magical place in their ‘Must visit’ list.</h5>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/waterking.jpeg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Water Kingdom, Borivali</h3>
		
<h5>The Water Kingdom is one of the famous amusement parks in Mumbai that has been a favorite one for locals. Every year, especially during the summer vacations, this park attracts thousands of crowd. It has a number of thrill and fun rides and other entertainment facilities.
There are many eateries and restaurants within the park premises to take care of hunger needs. Adding to the convenience, one can also hire swimming costumes that are available for all sizes by paying a minimal amount.</h5>
	</div>
</div>
</div>
</section>
<br>


<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/hanging.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Hanging Gardens, Malabar Hills </h3>
		
<h5>The Hanging Gardens of Mumbai are a treat for the Mumbai resident and tourist alike. The gardens offer you a nice break from the hectic and fast life of Mumbai, somewhere you can sit down and relax for a few hours as you watch the sunset in the Arabian Sea. On any day, you can get a clear view of the Arabian Sea and Chowpatty from the gardens.There are beautiful animal-shaped hedges in the park that make it a treat for any visitor to be at peace in such a surrounding. There are also water fountain shows in the evenings. </h5>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/elephanta.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Elephanta Caves, Mumbai</h3>
		
<h5>Elephanta Caves exhibits a scenic beauty wherein a narrow valley hangs in between two hillocks separating them from one another. There is a wide array of archaeological remains here to capture.
This mighty cave dates back to the mid-era of 5th and 6th centuries AD. Caves are all over covered by lush green and dense forests; so stepping in the forest and making way to the caves is definitely a great task to deal with. To reach here, one needs to ride a cruise from Gateway of India and cover distance of about 13km.</h5>
	</div>
</div>
</div>
</section>
<br>


<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/sanjay.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Sanjay Gandhi National Park</h3>
		
<h5>The erstwhile Borivali National Park or the current Sanjay Gandhi National Park is a charming landscape sprawling some 104 square kilometres in the city of Mumbai. The park draws visitors by the thousands every year. One of the most frequented national parks in the world, the history of the park can be dated back to the 4th century BC. Home to some of the most exotic variety of flora and fauna in the country, the national park also houses the over-2000-year-old Kanheri Caves, sanctuary for tigers and trekking trails within it. </h5>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/chowpatty.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Girgaon Chowpatty, South Mumbai</h3>
		
<h5>Chowpatty Beach is one of the most famous beaches in Mumbai. Located in the heart of the city, this beach is most popular for its local delicacies which most people enjoy whenever they visit Chowpatty Beach. Watching the glorious sunsets from this beach is a sight worth seeing! People of all age-groups come here to enjoy the scenic beauty offered by the beach. The sea, adorned by its long stretch of white sand in addition to the magnificent sky above, is like a heavenly dream for anyone who visits this beach.</h5>
	</div>
</div>
</div>
</section>
<br>
</body>
