<html>
<head>
	<title>Shopping</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/food.css')}}">
	<style>
		/*#A {
			background-image: url(blank.png);
			background-repeat: no-repeat;
			background-position: top;
			background-size: 1230pt 650px;
			height: 270pt;
			
		}
		#B {
			background-color: rgb(51,189,179);
			height: 250pt;
			margin-left: 150pt;
			margin-right: 150pt;
			
		}
		#C{
			background-color: rgb(204,0,16);
			height: 250pt;
			margin-left: 150pt;
			margin-right: 150pt;

		}*/
	</style>
</head>
<body>
<section id="A">
<nav>
	
<ul>
		<li><a href="{{ url_for('mumbai') }}">Home</a></li>
		<li><a href='#'>Things To Do</a>
		<ul>

				<li><a href="{{ url_for('food') }}">Food & Drink</a></li>
				<li><a href="{{ url_for('picnic') }}">Picnic</a></li>
				<li><a href="{{ url_for('shopping') }}">Shopping</a></li>
				
</ul>
</li>
		<li><a href='#'>Destination</a>
			<ul>
				<li><a href="{{ url_for('colaba') }}">Colaba</a></li>
        <li><a href="{{ url_for('navi') }}">Navi Mumbai</a></li>
        <li><a href="{{ url_for('bandra') }}">Bandra</a></li>
        <li><a href="{{ url_for('thane') }}">Thane</a></li>
        <li><a href="{{ url_for('powai') }}">Powai</a></li>
			</ul>
		</li>
		<li><a href='#'>About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<ul>
				<li><a href="{{ url_for('about_mumbai') }}">About Mumbai</a></li>
				<li><a href="{{ url_for('history') }}">History</a></li>
			</ul>
		</li>
	</ul>
</nav>


<h1 class="class3"><center>Shopping</center></h1>
<h2 align="center">Malls here are more than just shopping destinations. They've got huge food and entertainment zones as well.</h2>

</section>
<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/rcity.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Rcity Mall, Ghatkopar </h3>
		
<h4>R-City mall opened in 2009 and has undergone phased development since. This has increased its size to a substantial 1.2 million square feet. The mall offers a balanced mix of local and international brands such as H&M, Globus, Big Bazaar, Pantaloons, Westside, Lifestyle, Shopper Stop, and Marks & Spencer. It has more than 60 food and beverage outlets, many of them in its huge outdoor courtyard. There's also a food court, INOX cinema, and plenty of options for entertainment. These include Snow Kingdom, KidZania, Red Carpet Wax Museum, TimeZone, Click Art Museum, laser tag, and live escape games. It's one of the best malls in Mumbai.</h4>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/seawoods.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Seawoods Grand Central, Seawoods </h3>
		
<h4>Spreading over 1 million sq. ft., Seawoods Grand Central Mall is located in Navi Mumbai and promises the most convenient day out. The mall offers an indulgent shopping experience with over 500 international and national brands, multiple entertainment zones and some of the best restaurants around. Over the last 2 years, it has become a community center where people from all over the city come together to enhance their happiness quotient. And can soon enhance their entertainment quotients in 4DX and IMAX. Seawoods Grand Central Mall is all about making one's experience premium, exclusive, fun, and above all, full of happiness!</h4>
	</div>
</div>
</div>
</section>
<br>


<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/pvrlower.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>High Street Phoenix, Lower Parel</h3>
		
<h4>The distinctive tall chimneys at High Street Phoenix, conveniently located in central south Mumbai, give away the fact that this area used to be full of textile mills before it was redeveloped. This diverse mall, which now measures 3.3 million square feet, was launched in 2008. It's grown to incorporate the new high-end Palladium Mall and luxurious St. Regis hotel (formerly the Palladium), swanky Skyzone section with national and international stores, and Grand Galleria section that's designed to lure impulse shoppers. You'll also find a courtyard containing food outlets, bowling alley, gaming arcade, and sports bar. All together there are about 500 brands.</h4>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/infinity.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Infiniti Mall, Malad</h3>
		
<h4>It's the first mall in India to have a roller coaster inside it! Launched in 2011, the mall measures 1.2 million square feet and is one of the biggest in the western suburbs. It has 180 shopping brands (including high-end international brands such a Zara), a multiplex cinema, more than 30 food outlets, plus popular bar Hoppipola. Key department stores include Westside, Pantaloons, and Big Bazaar. Fun City launched its biggest kid's playzone in India at the mall in September 2017, which is an added attraction for families. Live performances and special community-led events are often held as well to engage with shoppers.</h4>
	</div>
</div>
</div>
</section>
<br>


<section id="B">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/pvrkurla.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Phoenix Marketcity, Kurla</h3>
		
<h4>One of Mumbai's newest mega malls and one of the largest shopping malls in India, it was launched in late 2011. It houses about 600 premium Indian and international stores, 100 food and beverage outlets,14-screen PVR cinema complex, massive entertainment area that often holds live performances of international artists, ten pin bowling and games. Snow World (Mumbai's largest snow park) and Flight 4 Fantasy (India's only flight simulation center) are novel attractions there. The mall also features themed artistic installations and plenty of events (including summer vacation programs for kids) to draw shoppers.</h4>
	</div>
</div>
</div>
</section>
<br>

<section id="C">
<div class="row">
<div class="column">
	<div class="card">
	<img src="/static/style/img/oberoi.jpg" height="333.5pt" width="500pt">
	</div>
</div>

<div class="column">
	<div class="card2">
		<br>
		<h3>Oberoi Mall, Goregaon</h3>
		
<h4>The mall opened in mid 2008 and provides about 550,000 sq.ft. of shopping, dining and entertainment. It facilitated the entry of many international brands into India (including Forever 21, Jack & Jones, and Starbucks). It also houses some excellent restaurants and bars, including the British Brewing Company, Social, and a newly opened branch of hip Farzi Cafe. In addition, this environmentally-friendly mall was first in India to be awarded Gold certification in Leadership in Energy and Environmental Design (LEED) for existing buildings by the United States Green Building Council (USGBC).</h4>
	</div>
</div>
</div>
</section>
<br>
</body>
